/* FOOTER */

footer {
    align-items: center;
    padding-bottom: 5rem;
}

.contact-wrapper {
    padding: 2rem;
    opacity: 0;
    transition: opacity 2s;
}

.contact-wrapper h2{
    padding-bottom: 1rem;
}

.contact-links {
    display:flex;
    flex-direction: row;
}

.contact-links > * {
    margin-left: 2.5rem;
}

.contact-links a:first-child{
    margin-left: 0rem;
}

.contact-links a {
    text-decoration: none;
    font-weight: 500;
    color: var(--link-color);
}

.contact-links a:hover{
    color: var(--link-color-hover);
}

/* MEDIA QUERIES */

@media screen and (max-width: 605px) {
    footer {
        align-items: flex-start;
    }
    
    .contact-wrapper {
        padding: 0rem 0rem 0rem 2rem;
        border: none;
        box-shadow: none;
    }

    .contact-links {
        flex-direction: column;
    }

    .contact-links > * {
        margin-left: 0;
        margin-top: 1rem;
        font-size: 0.9rem;
    }

}