:root {
    --background: #F4F3F2; 
    --primary-color: #313335;
    --secondary-color: #f17900;
    --link-color: #f17900;
    --link-color-hover: rgb(85, 189, 0);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    
}

body {
    background: #F4F3F2;
}

ul {
    list-style: none;
}

@keyframes shadowOpacity {
    from {
        -webkit-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.0); 
        box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.0);
    }
    to {
        -webkit-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.15); 
        box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.15);
    }
}