 /* SIDEBAR */

 .sidebar {
    position: fixed;
    top: 5%;
    left: 3%;
}

.menu{
    font-size: 1rem;
}

.menu > * {
    padding: 0.5rem;
}

.menu > *:hover{
    cursor:pointer;
}

#header {
    color: var(--secondary-color);
}

/* MEDIA QUERIES */

@media screen and (max-width: 910px) {
    .sidebar {
        position: absolute;
        top: 2%;
    }
}